.article-detail {
  header {
    background: $sub-menu-color;
    border: 1px solid #32363D;
    border-bottom: 2px solid $menu-active-detail-color;
    -webkit-border-top-left-radius: .3rem;
    -moz-border-radius-topleft: .3rem;
    border-top-left-radius: .3rem;
    -webkit-border-top-right-radius: .3rem;
    -moz-border-radius-topright: .3rem;
    border-top-right-radius: .3rem;
    padding: .5rem 1rem;
    overflow: auto;

    h1, h2 {
      font-family: 'Oswald', sans-serif;
    }

    h1 {
      font-weight: 400;
      font-size: 2rem;
      margin: 0 0 1rem;
    }

    h2 {
      font-weight: 300;
      font-size: 1.4rem;
      margin: 0 0 .5rem;
    }

    .datetime {
      font-size: .9rem;
      color: #999;
      margin: 1rem 0 0;
      float: right;
    }

    #article-edit-link {
      font-size: .8rem;
      text-decoration: none;
      font-weight: bold;
      font-family: 'Oswald', sans-serif;
      color: $link-color;
      margin: 0 .5rem 0 0;
    }

    .fb-like {
      margin: 0 0 .6rem 0;
      vertical-align: middle;
    }
  }

  section {
    background: $article-bg-color;
    padding: 1rem;
    font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 1.5;

    p {
      margin: 0 0 1.5rem;
    }

    img {
      float: left;
      margin: 0 1em 1em 0;
      max-width: 100%;
    }
  }
}
