<section class="articles-list">
{% if include.posts == null %}
   <p class="empty">Nenhum artigo disponível.</p>
{% else %}
   {% for post in include.posts %}
      {% if include.filter && post.categories contains include.filter %}
         {% include post_show.html post=post %}
      {% else %}
         {% include post_show.html post=post %}
      {% endif %}
   {% endfor %}

   <div class="pagination">
     {% if paginator.previous_page %}
     <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>
     {% else %}
     <span class="previous">Previous</span>
     {% endif %}
     <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
     {% if paginator.next_page %}
     <a href="{{ paginator.next_page_path }}" class="next">Next</a>
     {% else %}
     <span class="next ">Next</span>
     {% endif %}
   </div>
{% endif %}
   <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</section>
