.match {
    display: flex;

    .home-team, .visitor-team {
        flex-grow: 2;

        img {
            vertical-align: middle;
        }
    }

    .score {
        font-weight: bold;

        .score-divisor {
            font-size: 2em;
            margin: 0 1em;
        }
    }
}
